<p>third works!</p>

<a routerLink="/second-module/12">second</a>
<br>
<a routerLink="/">Home</a>
<br>
<a routerLink="./" (click)="subm($any({valid: false}))">subm</a>

<br>
<br>
<label class="confirm-leave" ><input type="checkbox" [(ngModel)]="confirmLeave" />Confirm Leave</label>
<br>
<br>
<br>

<mat-tab-group class="tabs" #tabs >
    <mat-tab label="delayedTab1" tabindex="1">
        content 1
    </mat-tab>

    <mat-tab label="delayedTab2">
        content 2
    </mat-tab>
</mat-tab-group>

<b>{{counter}}</b>