mat-form-field {
    margin: 10px;
}

mat-hint {
    // transition: color ease-out .05s;
    &.active {
        transition: transform .2s ease-out;
        color: rgb(227, 54, 54);
        transform: scale(1.3);
    }

    &.inactive {
        color: gray;
    }
}